# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Electron build outputs
dist
build/
out/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
desktop.ini

# IDE specific files
.idea/
.vscode/
*.swp
*.swo